.bootstrap-tagsinput {
    background-color: #fff;
    border-radius: 6px;
    text-align: left;
    font-size: 0
}

.bootstrap-tagsinput .badge {
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    margin: 1px 5px 5px 0;
    font-weight: 700;

    background-color: #ffefc6;
    border-color: #887230!important;
    background-image: none;
    color: rgba(0,0,0,.6);
    -webkit-box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset;
    box-shadow: inset 0 0 0 1px rgba(34,36,38,.15);
}

.bootstrap-tagsinput .badge>span {
    padding: 0 10px 0 0;
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right: 0;
    text-align: right;
    text-decoration: none;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 2;
}

.bootstrap-tagsinput input {
    border: none!important;
}

.bootstrap-tagsinput i.icon {
    margin-top: 0.3em!important;
    color: #999;
}

@media(hover:hover) {
    .bootstrap-tagsinput .badge {
        padding: 0.1em 0 .2em 0.6em
    }

    .bootstrap-tagsinput .badge>span {
        opacity: 0;
        filter: "alpha(opacity=0)";
        transition: opacity .25s linear
    }
}

.bootstrap-tagsinput input[type=text] {
    font-size: 14px;
    border: 0;
    box-shadow: none;
    outline: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 150px!important;
    max-width: inherit;
    min-width: 150px;
    vertical-align: top;
    height: 29px;
    color: #34495e;

}

.tagsinput-primary {
    margin-bottom: 18px
}

.tagsinput-primary .bootstrap-tagsinput {
    border-color: #1abc9c;
    margin-bottom: 0
}

.bootstrap-tagsinput .badge:hover {
    background-image:none;
    color:rgba(0,0,0,.8)
}

.bootstrap-tagsinput .badge:hover i.icon {
    color: #000!important;
}